<div class="page-card">
  <nz-tabset  [nzTabPosition]="'top'" [nzType]="'card'" >
    <nz-tab nzTitle="信息">
      <div class="card-content">
        <form nz-form [formGroup]="validateForm">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="name">name</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input id="name" formControlName="name" [(ngModel)]="name">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="priority">priority</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-input-number id="priority" formControlName="priority" [(ngModel)]="priority"
                               [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="desc">desc</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input id="desc" formControlName="desc" [(ngModel)]="desc">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzSpan]="6" [nzOffset]="6">
              <button nz-button nzType="primary" (click)="changeData()">确认修改</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </nz-tab>
    <nz-tab nzTitle="分类">
      <div class="card-content">
        <nz-tree [nzData]="treeList" nzShowLine (nzClick)="nzEvent($event)" >
        </nz-tree>
      </div>
    </nz-tab>

    <nz-tab nzTitle="文件">
      <div class="card-content">
        <div nz-row style="margin-bottom: 8px;">
          <nz-upload [nzAction]="uploadPath" [nzFileList]="consumerList" (nzChange)="handleChange($event)" style="float: left; margin-right: 10px;" >
            <button nz-button><i nz-icon nzType="upload"></i><span>上传文件</span></button>
          </nz-upload>
        </div>
        <div class="title">配置</div>
        <button nz-button (click)="addRow()" nzType="primary" style="float: right;margin-bottom: 10px; z-index: 999;">Add</button>
        <nz-table #basicTable nzBordered [nzData]="configuration">
          <thead>
          <tr>
            <th nzWidth="30%">配置项</th>
            <th>配置内容</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data" class="editable-row">
            <td>
              <input type="text" nz-input [(ngModel)]="data.key" (blur)="stopEdit()" [placeholder]="'Key'"/>
            </td>
            <td>
              <input type="text" nz-input [(ngModel)]="data.value" (blur)="stopEdit()" [placeholder]="'Value'"/>
            </td>
            <td>
              <a nz-popconfirm nzPopconfirmTitle="确认删除?" (nzOnConfirm)="deleteRow(data.id)">Delete</a>
            </td>
          </tr>
          </tbody>
        </nz-table>
        <button nz-button (click)="saveConsumer()" nzType="primary" style="float: right;margin-bottom: 10px; z-index: 999;">确定</button>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
<ng-template #modifyDetail>
  <form nz-form [formGroup]="detailDateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="classifying" nzRequired>分类名</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback>
        <input nz-input id="classifying" formControlName="classifying" maxlength="20" [(ngModel)]="detailItem.classifying">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="priorityInput" nzRequired>权重</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback>
        <nz-input-number id="priorityInput" formControlName="priorityInput" [(ngModel)]="detailItem.priorityInput"
                         [nzMin]="1" [nzStep]="1"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </form>

</ng-template>
<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" [disabled]="!detailDateForm.valid"
          (click)="saveData(detailItem)">确定</button>
</ng-template>
